<%- include('../includes/header.ejs') %>

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="/login"><b>CERW</b>MS</a>
        </div>
        <!-- /.login-logo -->
        <center>
            <h1><%=heading%></h1>
            <p><%=message%></p>
            <a href="/login" role="button">Want To Login?</a>
        </center>
    </div>
    <!-- /.login-box-body -->
    </div>
</body>

</html>