<%- include('../includes/header.ejs') %>
<%- include('../includes/navbar.ejs') %>
<!-- Main content -->
<section class="content container-fluid">

    <!--------------------------
        | Your Page Content Here |
        -------------------------->

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
<%- include('../includes/footer.ejs') %>